Difference btw C and Python 
* Its procedural 
* Shorter code 
* No inialisation 
* Dynamic Memory 
* Compatible with other interfaces

In [ ]:
# Conversion into Decimal Number System 
n=0O123
print(int(n))
n=0B101010
print(int(n))
n=0XAF43
print(int(n))

83
42
44867

In [ ]:
# Convert into binary | decimal | hexadecimal 
n=100
print(bin(n))
print(hex(n))

0b1100100
0x64
100

DAY2- Printing statements in Python

In [ ]:
# Adding and multiplication of two numbers 
a=int(input("Enter the number"))
b=int(input("Enter the number"))
s=a+b
m=a*b
# Printing in the same line 
print("The sum of two numbers is",s,"The multiplication of two numbers is=",m)
# Printing in different line 
print("The sum=",s,"\n","The multiplication=",m)

Enter the number10
Enter the number12
The sum of two numbers is 22 The multiplication of two numbers is= 120
The sum= 22
 The multiplication= 120

Separators
*   sep=" "
*   In the same line, the by default = space
*   Can modify acc to ur need 

End
*    end= " " 
*    Affects the next line to be printed.
*    If end="\n", statement in the next line by default

In [ ]:
print("Hello", "Everyone")
print("Hello", "Everyone", sep=",")
print("Hello","Everyone",sep="\t", end=" * ")
print("My name is ananya")

Hello Everyone
Hello,Everyone
Hello	Everyone * My name is ananya

Assignment Opertaors

In [ ]:
# Power of a number 
print("5 to the power 4 is written as",5**4)
# Unpacking of the values in the single line 
a,b,c=10,20,30
print("a=",a,"b=",b,"c=",c)
# Unpacking taking the input values as well
x,y,z=input(),input(),input()
print(x,y,z)

5 to the power 4 is written as 625
a= 10 b= 20 c= 30
100
200
300
100 200 300

Operators in Python

*   Arithmetic: +,-,*,/,//,%,**
*   Assignmnet: =,+=,-=, .....
*   Relational: >,<,==,!=,<=,>=
*   Logical: and , or , not 
*   Boolean: True , False 
*   Bitwise: &,|,^,<<,>>,~
*   Unary Minus
*   Membership and Identity

In [ ]:
# ARITHEMETIC
a,b=30,15
print("Decimal Divison", a/b)
print("Integer Divison", a//b)
print("Remainder Divison", a%b)

Decimal Divison 2.0
Integer Divison 2
Remainder Divison 0

In [ ]:
# UNARY MINUS 
a=30
b=-a
c=-b
print(a,b,c)

30 -30 30

In [ ]:
# RELATIONAL OPERATORS 
a,b=10,20
print(a>b , a<=b , a>=b, a==b , a!=b, sep="\t",end=" ^ ")
# CHAINED RELATIONAL OPERATORS 
x=15
print(10<x<20)
print(1<2>3<4)

False	True	False	False	True ^ True
False

In [ ]:
# LOGICAL OPERATORS 
# AND : returns the second value 
# OR  : returns the first value 
# Or - 1st statement , if no condition otherwise true or false 
x=500
y=200
# or hence will give 500 
print(x or y)
print( not x)

x,y,z=1,2,3
if x<y and y<2:
  print('yes')
else:
  print('no')
if x<y or y<2:
  print('yes')
else:
  print('no')

500
False
no
yes

In [ ]:
# BOOLEAN OPERATORS 
# AND : Both true then true 
# OR : One true then true 
a,b=True, False 
print(a and b, a or b , not a , not b , a and a , b or b , b and b)

False True False True True False False

In [ ]:
# BITWISE OPERATORS 
# Converting a number into binary format
n=45
print("Binary of",n,"=",bin(n))

# BITWISE AND (&)
x=10
y=11
print(x,y)
print)

Binary of 45 = 0b101101
10 11
10

In [ ]:
x=0b00001010
y=0b00001011
c=x&y
print(c)

10

In [ ]:
# Calculate the area and perimenter of a rectangle 
l,b=int(input()),int(input())
area,peri=l*b, 2*(l+b)
print("The area=%f The perimeter=%f" %(area,peri))

10
20
The area=200.000000 The perimeter=60.000000

In [ ]:
# Sum mul subs div point quoteint remainder  % term
a,b=int(input()),int(input())
sum,mult,subs,div,fdiv,rem=a+b,a*b,a-b,a//b,a/b,a%b
print("Sum=%f\nMultiplication=%i\nSubstraction=%i\nDivision=%i\nDecimal_Divison=%f\nRemainder=%i " %(sum,mult,subs,div,fdiv,rem))

12
5
Sum=17.000000
Multiplication=60
Substraction=7
Division=2
Decimal_Divison=2.400000
Remainder=2

In [ ]:
print("helo","there",sep="-")

helo-there

In [ ]:
# FORMAT STRING 
a=10
b=20
print("sum ={}\nmultiplication={}".format(a+b,a*b))

sum =30
multiplication=200

In [ ]:
# Inputting values together 
a,b,c = [int(x) for x in input("Enter the number").split('+')]
print(a,b,c)

Enter the number67+78+45
67 78 45

In [ ]:
a =eval(input("enter number"))
print(a)

enter number90+67+45+67/5*7
295.8

CALCULATE THE SUM OF DIGITS OF A NUMBER

In [ ]:
num=int(input("Enter a  number"))
sum=0
while num!=0:
  rem=num%10
  sum+=rem
  num=num//10
print("The sum of digits of a number={}".format(sum))

Enter a  number478
The sum of digits of a number=19

In [ ]:
num=476
sum=0
rem=num%10
sum+=rem
num=num//10
rem=num%10
sum+=rem
num=num//10
rem=num%10
sum+=rem
num//=10
print("Sum of digits=",sum)

Sum of digits= 17

In [ ]:
# REVERSE OF A NUMBER 
rev=0
num=476
rem=num%10
rev=rev*10+rem
num=num//10
rem=num%10
rev=rev*10+rem
num=num//10
rem=num%10
rev=rev*10+rem
num//=10
print("Sum of digits=",rev)

Sum of digits= 674

IF ELSE CONDITIONS
 IF 
1. Used for more than two conditions 
2. Checks all the statements 

IF ELSE 
1. Used for two conditions 
2. faster as condition based

In [ ]:
# Check the angles of a triangle and check if it is valid or not 
a,b,c = [int(x) for x in input("Enter the angles").split()]
sum=a+b+c
if sum==180:
  print("The triangle is valid, as the sum=%i" %sum)
else:
  print("The triangle is invalid as the sum of angles=%i" %sum)

Enter the angles60 60 60
The triangle is valid, as the sum=180

In [ ]:
# Doing with only if
a,b,c = [int(x) for x in input("Enter the angles").split()]
sum=a+b+c
if sum==180:
  print("The trainagle is valid")
if sum!=180:
  print("The triangle is inavlid ")

Enter the angles30 30 50
The triangle is inavlid

In [ ]:
# Enter a number and check whether it s positive negative or zero 
a=int(input("Enter the number"))
if a>0:
  print("The number %i is a positive number" %a )
if a<0:
  print("The number %i is a negative number" %a )
if a==0:
  print("The number %i is a zero" %a )

Enter the number-8
The number -8 is a negative number

In [ ]:
# CALCULATE PROFIT OR LOSS
sp,cp = [int(x) for x in input("Enter the number").split()]
if sp>cp:
  profit=sp-cp
  print("The profit=%i" %profit)
else:
  loss=cp-sp
  print("The loss =%i" %loss)
print("***************************************************************")
sp,cp = [int(x) for x in input("Enter the number").split()]
if sp>cp:
  profit=sp-cp
  print("The profit=%i" %profit)
if cp>sp:
  loss=cp-sp
  print("The loss =%i" %loss)

Enter the number100 20
The profit=80
***************************************************************
Enter the number120 140
The loss =20

In [ ]:
# Check whether a number is even or odd 
a=int(input("Enter a number"))
if a%2==0:
  print("%i is an even number"%a)
else:
  print("%i is an odd number"%a)

print("*******************************************************")
a=int(input("Enter a number"))
if a%2==0:
  print("%i is an even number"%a)
if a%2!=0:
  print("%i is an odd number"%a)

Enter a number60
60 is an even number
*******************************************************
Enter a number65
65 is an odd number

In [ ]:
# Enter the bill amount and calcuate the discount rate 
bill=int(input("Enter the bill amount"))
if bill>50000:
  d=0.05
  bill-=bill*d
  print("The bill=%i"%bill)
else:
  d=0.02
  bill-=bill*d
  print("The bill=%i"%bill)

Enter the bill amount51000
The bill=48450

In [ ]:
# Check whether an year is a leap year or not 
YR=int(input("Enter the year"))
if YR%4==0:
  print("The year is leap year")
else:
  print("The year is not a leap year")

Enter the year89
The year is not a leap year

In [ ]:
# Conversion of distance into kilometers 
d=float(input("Enter the distance in meter"))
print("The distance in kms=%f"% (d*0.001))

Enter the distance in meter3000
The distance in kms=3.000000

In [ ]:
# Enter the age group of a person and check whether a person can vote or not 
age=int(input("Enter the age grp of a person "))
if age>=18:
  print("A person can vote")
else:
  print("A person cannot vote")

print("*****************************************************")
if age>18:
  print("A person can vote")
if age<18:
  print("A person cannot vote")
if age==18:
  print("A person can vote")

Enter the age grp of a person 26
A person can vote
*****************************************************
A person can vote

NESTED ELSE IF

In [ ]:
# ENTER THE COORDINATES OF A GRAPH AND CHCK WHETHER THEY LIE ON X, Y PLANE OR X OR BY AXIS OR THE ORIGIN 
x,y=[int(x) for x in input("Enter the coordinates").split()]
if x==0:
  if y==0:
    print("Coordinates {} lie at the Origin".format(x,y))
  else:
     print("Coordinates {} lie at the Y-axis".format(x,y))
else:
   if y==0:
    print("Coordinates {} lie at the X-axis".format(x,y))
   else:
     print("Coordinates {} lie at the XY-plane".format(x,y))

Enter the coordinates5 7
Coordinates 5 lie at the XY-plane

In [ ]:
# Doing the same questions using elif ladder 
x,y=[int(x) for x in input("Enter the coordinates").split()]
if x==0:
  if y==0:
    print("Origin")
  else:
    print("Y axis")
elif y==0:
  if x!=0:
    print("X axis")
  else:

In [ ]:
x,y=[int(x) for x in input("Enter the coordinates").split()]
if x==0:
  if y==0:
    print("origin")
  else:
    print("Y axis")
elif y==0:
  print("X axis")
else:
  print("XY plane")

Enter the coordinates0 8
Y axis

In [ ]:
# Enter three number and check the greatest of the three number
a,b,c=[int(x) for x in input("Enter the coordinates").split()]
if a>b:
  if a>c:
    print("a is greater")
  else:
    print("c is greAter")
elif b>c:
  print("b is greater")
else:
  print("c is greater")

In [ ]:
# Do the coordinate question using elif ladder and logical operators 
x,y=[int(x) for x in input().split()]
if x==0 and y==0:
  print("Origin")
elif x==0 and y!=0:
  print("Y axis")
elif y==0 and x!=0:
  print("X axis")
else:
  print("XY plane ")

9 0
X axis

In [ ]:
# CHECK FOR THE LEAP YEAR 
x=int(input())
if ((x%100==0 and x%400==0) or (x%4==0 and x%100!=0)):
  print("Leap year")
else:
  print("INVALID")

1700
INVALID

In [ ]:
# enter three sides of a triangle and chcek whetherthe triangle is an equilateral triangle or an isoceles triangle or a acsnle triagle 
a,b,c=[int(x) for x in input().split()]
if a==b and a==c and b==c:
  print("Equilateral triangle")
elif a==b or b==c or a==c:
  print("Isoceles triangle")
else:
  print("Scalene triangle")

44 66 54
Scalene triangle

In [ ]:
# enter 3 sides of a triangle, and check whether te tri is valid or not 
# Note: the triangle is valid only if the sum of any two sides is always greater than the thord side of the triabgle 
a,b,c=[int(x) for x in input().split()]
s_ab=a+b
s_bc=b+c
s_ca=c+a
if s_ab>c or s_bc>a or s_ca>b:
  print("Valid")
else:
  print("Invalid")

12 33 10
Valid

In [ ]:
#Enter three sides of a triangle and check whether the tiangle is a right angle trianhle or not 

a,b,c=[int(x) for x in input().split()]
if (a**2+b**2 == c**2) or  (b**2+c**2== a**2) or (a**2+c**2== b**2):
  print("Its a right angle")
else:
  print("Not a right angle ")

3 4 5
Its a right angle

LOOPING using while loop

In [ ]:
n=10
while n>=1:
  print(n,end=" ")
  n-=1

10 9 8 7 6 5 4 3 2 1

In [ ]:
n=2
while n<=20:
  print(n,end=" ")
  n+=2

2 4 6 8 10 12 14 16 18 20

In [ ]:
n=5
while n<=50:
  print(n,end=" ")
  n+=5

5 10 15 20 25 30 35 40 45 50

In [ ]:
n=1
while n<=21:
  print(n,end=" ")
  n+=2

1 3 5 7 9 11 13 15 17 19 21

In [ ]:
n=1
while n<=6:
  print(n**2,end=" ")
  n+=1

1 4 9 16 25 36

In [ ]:
n=1
while n<=6:
  print(n**3,end=" ")
  n+=1

1 8 27 64 125 216

In [ ]:
# Series: 2 9 28 65 126 217
n=1
while n<=6:
  print(n**3+1,end=" ")
  n+=1

2 9 28 65 126 217

In [ ]:
# Series: 0 3 8 15 24 15::::::::::: 0+3=3 8-3=5 15-8=7 , 3,5,7
n=3
s=0
while n<=11:
  s+=n
  print(s,end=" ")
  n+=2

3 8 15 24 35

In [ ]:
# REVERSE OF A NUMBER
rev=0
n=int(input("Enter a number"))
nn=n
while(n!=0):
  rem=n%10
  rev=rev*10+rem
  n//=10
print("The reverse of {} are {}".format(nn,rev))

Enter a number12345
The reverse of 12345 are 54321

In [ ]:
# ENTER A NUMBER AND CHECK THE NUMBER OF DIGITS IN A NUMBER
count=0
n=int(input("Enter a number"))
nn=n
while(n!=0):
  count+=1
  n//=10
print("The number of digits in {} are {}".format(nn,count))

Enter a number89654
The number of digits in 89654 are 5

In [ ]:
# SPY NUMBER OR NOT
sum=0
mult=1
n=int(input("Enter a number"))
nn=n
while(n!=0):
  rem=n%10
  sum+=rem
  mult*=rem
  n//=10
if sum==mult:
  print("{} is a spy number".format(nn))
else:
  print("{} is not a spy number".format(nn))

Enter a number123
123 is a spy number

In [ ]:
n=int(input("Enter a number"))
sum=0
sq=n**2
while sq!=0:
  rem=sq%10
  sum+=rem
  sq//=10
if sum==n:
  print("Its a good number")
else:
  print("Its not a good number")

Enter a number9
81
8
Its a good number

In [ ]:
# FACTORIAL OF A NUMBER 
n=int(input("Entera  number"))
prod=1
while(n>=1):
  prod*=n
  n-=1
print("The factorial of the number is", prod)

Entera  number5
The factorial of the number is 120

In [ ]:
# PRINT THE MULTIPLIICATION TABLE 
n=7
i=1
while(i<=10):
  print("{} * {} = {}".format(n,i,n*i))
  i+=1

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
# cook your dish here
T=int(input())
for i in range(T):
    X,Y=[int(x) for x in input().split()]
    if X+Y >6:
        print("YES")
    else:
        print("NO")

4
1 4
NO
3 4
YES
4 2
NO
2 6
YES

In [ ]:
# Enter a number and check whether its prime or not 
num=int(input("Enter a number"))
i=2
while i<=num//2:
  if num%i==0:
    print("Its not a prime numer ")
    break
  i+=1
if i>num//2:
  print("Its a prime numer")

Enter a number7
Its a prime numer

In [ ]:
# Calculate the prime factors of a number entered by the user
n=int(input("Enter the number whose prime factors are to be calculated"))
i=2
while n!=1:
  if n%i==0:
    print(i,end=" ")
    n=n//i
    continue
  i+=1

Enter the number whose prime factors are to be calculated12
2 2 3

In [ ]:
n=int(input("Enter the number whose prime factors are to be calculated"))
i=2
while n!=1:
  if n%i==0:
    print(i,end=" ")
    n=n//i
  else:
    i+=1

Enter the number whose prime factors are to be calculated16
2 2 2 2

# FOR LOOPS : DESIGN THIS CODE 
    1
    2 1 
    3 2 1
    4 3 2 1 
    5 4 3 2 1

In [ ]:
for i in range(1,6,1):
  for j in range(i,0,-1):
    print(j,end="")
  print()

1
21
321
4321
54321

In [ ]:
for i in range(5,0,-1):
  for j in range(5,i-1,-1):
    print(j,end="")
  print()

5
54
543
5432
54321

In [ ]:
for i in range(1,11,2):
  for j in range(1,i+1,2):
    print(j,end=" ")
  print()

1
1 3
1 3 5
1 3 5 7
1 3 5 7 9

In [ ]:
for i in range(9,0,-2):
  for j in range(i,9+1,2):
    print(j,end="")
  print()

9
79
579
3579
13579

In [ ]:
for i in range(5,0,-1):
  for j in range(i,6):
    print(i,end=" ")
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
n=1
for i in range(1,6):
  for j in range(1,i+1):
    print(n,end=" ")
  n=n+2
  print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
for i in range(1,11,2):
  for j in range(i,11,2):
    print(i,end=" ")
  print()

1 1 1 1 1
3 3 3 3
5 5 5
7 7
9

In [ ]:
for i in range(1,15,2):
  for j in range(9,i-1,-1):
    print(j,end=" ")
  print()

9 8 7 6 5 4 3 2 1
9 8 7 6 5 4 3
9 8 7 6 5
9 8 7
9

In [ ]:
for i in range(1,11,2):
  for j in range(i,9+1):
    print(j,end=" ")
  print()

1 2 3 4 5 6 7 8 9
3 4 5 6 7 8 9
5 6 7 8 9
7 8 9
9

In [ ]:
c=1
for i in range(1,6):
  for j in range(1,i):
    print(c,end=" ")
    c=c+1
  print()

1
2 3
4 5 6
7 8 9 10

ARRAYS IN PYTHON: 
HOMOGENEOUS COLLECTION OF DATA

In [1]:
import array as ar
collec=ar.array('i',[10,20,39,30])
for value in collec:
  print(value)

10
20
39
30

In [2]:
import array 
collec=array.array('i',[10,22,33,49,58,70])
for value in collec:
  print(value)

10
22
33
49
58
70

In [3]:
import array 
collec=array.array('i',[10,22,33,49,58,70])
len1=len(collec)
for iter in range(0,len1):
  print(collec[iter])

10
22
33
49
58
70

Enter values in an array given by the user

In [6]:
from array import *
a = [int(x) for x in input('Enter value ').split(',')]
le = len(a)
print(le)
for i in a:
    print(i)

Enter value 67,20,13,89
4
67
20
13
89

In [7]:
import array as ar
a=[int(x) for x in input("Enter value").split(',')]
len1=len(a)
for i in a:
  print(i)

Enter value12,23,44,55
12
23
44
55

In [1]:
from array import *
a=array('i',[])
a.append(10)
a.append(20)
a.append(38)
a.append(49)
a.append(50)
for i in range(len(a)):
  print(a[i])
# Inserting elements in an array
a.insert(2,100)
# Printing the elements 
for i in range(len(a)):
  print(a[i])
# Deleting elements from an array 
a.pop(3)
for i in range(len(a)):
  print(a[i])

10
20
38
49
50
10
20
100
38
49
50
10
20
100
49
50

In [2]:
# Find the minimum element the array
arr=[int(x) for x in input("Enter the elements in an array").split(',')]
min=arr[0]
ind=0
for iter in range(1,len(arr)):
  if arr[iter]<min:
    min=arr[iter]
    ind=iter
print("The minimum element of an array is {} at position {}".format(min,ind))

Enter the elements in an array89,78,56,90,55
The minimum element of an array is 55 at position 4

what is we start indexing from 1? Out of range error ??

In [7]:
# Find the maximum element in the array
# Find the minimum element the array
arr=[int(x) for x in input("Enter the elements in an array").split(',')]
max=arr[0]
ind=0
for iter in range(0,len(arr)):
  if arr[iter]>max:
    max=arr[i]
    ind=i
print("The maximum element of an array is {} at position {}".format(max,ind))

Enter the elements in an array100,22,48,99,196
The maximum element of an array is 196 at position 4

In [18]:
# Store the even and odd elements of an array in different arrays 
from array import *
arr=[int(x) for x in input("Enter a number").split(',')]
arr_odd=array('i',[])
arr_even=array('i',[])
for iter in arr:
  if iter%2==0:
    arr_even.append(iter)
  else:
    arr_odd.append(iter)
for i in arr_even:
  print(i,end=" ")
print('\n')
for j in arr_odd:
  print(j,end=" ")

Enter a number11,33,45,66,100,28
66 100 28

11 33 45

In [3]:
# Store the even and odd elements of an array in different arrays 
arr=[int(x) for x in input("Enter a number").split(',')]
arr_odd=[]
arr_even=[]
for iter in arr:
  if iter%2==0:
    arr_even.append(iter)
  else:
    arr_odd.append(iter)
arr_odd.append("hello")
for i in arr_even:
  print(i,end=" ")
print('\n')
for j in arr_odd:
  print(j,end=" ")

Enter a number78,90,56
78 90 56

hello

In [24]:
from array import * 
arr=array('i',[])
n=int(input("enter n"))
for iter in range(0,n):
  a=input("Enter value")
  arr.append(a)
arr_str=arr.toString()
for value in arr_str:
  print(value)

enter n4
Enter valued
Enter valuej
Enter valuek
Enter valuea

AttributeError: ignored

In [25]:
from array import * 
str=input("Enter marks").split(" ")
marks=[int(x) for x in str]
sum=0
for value in marks:
  print(value)
  sum+=value
print("Total Marks", sum)
# Percentage 
n=len(marks)
percent=sum/n
print("percentage",percent)

Enter marks12 33 56 77 19
12
33
56
77
19
Total Marks 197
percentage 39.4

In [27]:
# Enter elements in an array and convert -ve into 0
from array import *
arr=array('i',[])
length=int(input("enter length of the array"))
for iter in range(0,length):
  arr.append(int(input()))
print('\n')
for iter in range(0,length):
  if arr[iter]<0:
    arr[iter]=0
for value in arr:
  print(value,end=" ")

enter length of the array5
10
-2
98
-77
-65


10 0 98 0 0

Delete the positive elements in an array
> pop: deletes the value, now the number of elements also decrease, so array index out of bound, so we need to explicitly increment the value.

In [38]:
# delete positive elements in an array 
from array import * 
arr=array('i',[])
n=int(input("enter the length"))
for iter in range(0,n):
  arr.append(int(input()))
print('\n')
iter=0
# iter is for positioning 
for val in arr:
    if val > 0:
        arr.pop(iter)
    iter+=1
for value in arr:
  print(value,end=" ")

enter the length4
-99
44
-77
33


-99 -77

> Find the peak elements of an array, the element which is greater than both its neighbour

In [41]:
from array import * 
arr=array('i',[])
n=int(input("enter the length of an array"))
for iter in range(0,n):
  arr.append(int(input()))
print()
for iter in range(1,n-1):
  if arr[iter]> arr[iter-1] and arr[iter]>arr[iter+1]:
    print(arr[iter])

enter the length of an array7
10
20
15
2
23
90
67

20
90

> Linear search of an array

In [48]:
from array import * 
arr=array('i',[])
n=int(input("Enter the length of an array"))
for iter in range(0,n):
  arr.append(int(input()))
item=int(input("Emter the item to be searched"))
for iter in range(0,n):
  if arr[iter]==item:
    print("Element {} found at {}".format(arr[iter],iter))
    break
else:
  iter+=18
print(iter)
if iter==n:
  print("Element not found ")

Enter the length of an array3
11
55
88
Emter the item to be searched88
Element 88 found at 2
2

> Find how many times an item occurs in an array

In [54]:
from array import * 
arr,count=array('i',[]),0
n=int(input("Enter the length of an array"))
for iter in range(0,n):
  arr.append(int(input()))
item=int(input("Emter the item to be searched"))
for value in arr:
  if value==item:
    count+=1
if count==0:
  print("Value not found")
else:
  print("The value {} occured {} times".format(item,count))

Enter the length of an array3
1
2
1
Emter the item to be searched1
The value 1 occured 2 times

> Delete positive elements in an array

In [1]:
# delete positive elements in an array 
from array import * 
arr=array('i',[])
n=int(input("enter the length"))
for iter in range(0,n):
  arr.append(int(input()))
print('\n')
iter=0
j=0
# iter is for positioning 
for i in range(0,n-j):
   if(arr[j]>=0) :
        arr.pop(j) 
   else:
        j+=1
for value in arr:
  print(value,end=" ")

enter the length8
33
44
-45
88
99
-66
83
40


-45 -66

Searches :
1. Linear Search : Unsorted array 
2. Binary Search : Sorted Array

In [7]:
# Binary Search
from array import * 
arr,n=array('i',[]),5
for iter in range(0,n):
  arr.append(int(input()))
beg,end,item=0,n-1,int(input("enter element to be found"))
while(beg<=end):
  mid=(beg+end)//2
  if item==arr[mid]:
    print("Element found")
    break
  elif item>arr[mid]:
    beg=mid+1
  else:
    start=mid-1
if beg>end:
  print("element not found")

12
33
56
77
90
enter element to be found100
element not found

In [14]:
# Bubble Sort
from array import * 
arr=array('i',[10,5,30,80,60,38,50,2])
n=len(arr)
for i in range(0,n):
  for j in range(0,n-1):
      if arr[j+1]<arr[j]:
        temp=arr[j+1]
        arr[j+1]=arr[j]
        arr[j]=temp
print("After Sorting")
for val in arr:
  print(val, end=" ")

After Sorting
2 5 10 30 38 50 60 80

In [23]:
# Selection Sort : Pick the minimum element and place it in the begining 
# We take ind, cuz we need to swap the value over the position and not the element
from array import * 
arr=array('i',[10,5,30,80,60,38,50,2])
n=len(arr)
for j in range(0,n):
  min=arr[j]
  ind=j
  for i in range(j+1,n):
    if arr[i]<min:
      min=arr[i]
      ind=i
  # Now we need to swap arr[j] with minimum value, check if the index is same or not
  if j!=ind:
    temp=arr[j]
    arr[j]=arr[ind]
    arr[ind]=temp  
print("After Sorting")
for val in arr:
  print(val, end=" ")

After Sorting
2 5 10 30 38 50 60 80

In [30]:
# Input an array and remove the duplicate elements into another array
from array import * 
arr,n=array('i',[]),5
count=0
dup=array('i',[])
for iter in range(0,n):
  arr.append(int(input()))
for i in range(0,n):
  item=arr[i]
  for j in range(i+1,n):
    if arr[j]==item:
      count+=1
  if count>0:
    print("The count=",count)
    dup.append(arr[j])
for val in dup:
  print(val, end=" ")

3
3
4
3
5
The count= 2
The count= 3
The count= 3
The count= 3
The count= 3
5 5 5 5 5

In [ ]:
from array import * 
arr,n=array('i',[]),5
count=0
for i in range(0,5):